Cython==0.24.1
Django==1.8
dj-database-url==0.4.1
dj-static==0.0.6
django-cors-headers==1.2.2
djangorestframework==3.3.2
fastFM==0.2.6
gunicorn==19.6.0
memory-profiler==0.39
numpy==1.10.1
psycopg2==2.6.2
pyfm==0.0.0
python-dateutil==2.5.3
pytz==2016.7
scikit-learn==0.18
scipy==0.18.1
six==1.10.0
sklearn==0.0
static3==0.7.0
whitenoise==3.2.2
wsgiref==0.1.2
